@import "./base.css";

.text-link {
  color: var(--main-color);
  transition: 0.4s;
}

.text-link:hover {
  opacity: 0.5;
  text-decoration: underline;
}

h1 {
  font-size: 20px;
  font-weight: bold;
  color: var(--main-color);
}

.card {
  max-width: fit-content;
  width: max-content;
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: var(--black);
  gap: 10px;
  border: 1px solid var(--black);
  /* border inside div */
  box-shadow: 0px 0px 0px 1px var(--black) inset;
  border-radius: 10px;
  background-color: var(--secondary-color);
  min-height: 480px;
  align-items: stretch;
}

.card-certif {
  cursor: pointer;
  min-width: 330px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: var(--black);
  gap: 10px;
  border: 1px solid var(--black);
  /* border inside div */
  box-shadow: 0px 0px 0px 1px var(--black) inset;
  border-radius: 10px;
  background-color: var(--secondary-color);
  align-items: stretch;
}

.card-banner {
  min-height: 200px;
  max-height: 200px;
  width: 300px;
  object-fit: cover;
  border-radius: 10px;
  background: var(--white);
}

@media (max-width: 700px) {
  .card {
    width: 250px;
    min-height: 420px;
    max-height: 420px;
  }

  .card-banner {
    max-width: 100%;
    max-height: 150px;
    min-height: 150px;
  }

  .card-content .card-title {
    font-size: 14px;
  }

  .card-content .description {
    font-size: 12px;
  }

  .card-content .certif-title {
    font-size: 14px;
  }

  .card-certif {
    min-width: 250px;
    max-width: 250px;
  }
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  color: var(--main-color);
  margin-bottom: 10px;
}

.card-content {
  text-align: left;
  font-size: 14px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  height: 100%;
}

.card-base-animate {
  display: flex;
}

.card-base-animate:hover {
  transform: translate(5px, -5px);
}

.card-animate:hover {
  transition: 0.1s;
  transform: translate(5px, -5px);
  box-shadow: -8px 8px var(--main-color);
}

.card-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card-header img {
  max-width: 45px;
}

.card-tag {
  color: white;
  font-weight: 500;
  font-size: 12px;
  display: flex;
  padding: 2px 5px 4px 5px;
  border-radius: 5px;
  min-width: fit-content;
  opacity: 1;
  transition: 0.4s;
  background: var(--blue);
}

.card-tag:hover {
  opacity: 0.7;
  cursor: default;
}

.card-tag-list {
  display: flex;
  gap: 5px;
  overflow-x: auto;
}

.card-btn-list {
  display: flex;
  gap: 10px;
}

.card-btn-list > a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border: none;
  border-radius: 7px;
  color: var(--white);
  transition: 0.4s;
  opacity: 1;
}

.card-btn-list a:hover {
  opacity: 0.7;
}

.card-btn-list a img {
  max-width: 30px;
  object-fit: contain;
}

.circle-2 {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #27ae60;
  animation: blink 1s linear infinite;
}

.circle-1 {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #6fcf97;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: blinkk 3s linear infinite;
}

@keyframes blinkk {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* width */
::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--secondary-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #af2f00;
}

.certif-title {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: bold;
}

.icon-compe {
  position: relative;
}

.testing {
  border: 3px solid red;
}

.project-list {
  display: flex;
  padding: 10px 0;
  gap: 10px;
  overflow-x: auto;
}

.data {
  display: flex;
  height: 450px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.center-object {
  flex-direction: column;
  gap: 40px;
}
